%% Example config

[
    {token_keeper_client, [
        {service_clients, #{
            authenticator => #{
                url => <<"http://token-keeper:8022/v2/authenticator">>,
                timeout => 1000,
                retries => #{
                    'Authenticate' => {linear, 3, 100},
                    '_' => finish
                }
            },
            authorities => #{
                ephemeral => #{
                    ephemeral_authority => #{
                        url => <<"http://token-keeper:8022/v2/authority/ephemeral_authority">>,
                        timeout => 1000,
                        retries => #{
                            'Create' => {linear, 3, 100},
                            '_' => finish
                        }
                    }
                },
                offline => #{
                    offline_authority => #{
                        url => <<"http://token-keeper:8022/v2/authority/offline_authority">>,
                        timeout => 1000,
                        retries => #{
                            'Create' => {linear, 3, 100},
                            'Get' => {linear, 3, 100},
                            'Revoke' => {linear, 3, 100},
                            '_' => finish
                        }
                    }
                }
            }
        }}
    ]}
].
